<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<div class="header">
  <div class="navbar-container">
    <div class="navbar-title">
      <a href="/blogs/index.html" class="navbar-brand">
        <img src="/static/favicon.ico" alt="Logo" class="navbar-favicon">
        YourSiteName.in
      </a>
    </div>

    <section>
      <ul class="navbar-menu">
        <li><a href="/about.html">about</a></li>
        <li><a href="/projects.html">code</a></li>
        <li><a href="/reads.html">reads</a></li>
        <li><a href="/readlogs.html">readlogs</a></li>
        <li><a href="/watchlogs.html">watchlogs</a></li>
        <li><a href="/feed.xml"><img src="/static/images/rss.png" alt="RSS Feed" class="rss-icon"/></a></li>
      </ul>
    </section>
  </div>
</div>
