{{- if config "opengraph.enabled" -}}
{{- $siteTitle := config "site.title" -}}
{{- $siteDesc := config "site.description" -}}
{{- $baseUrl := config "site.url" -}}
{{- $defaultImage := config "site.image" -}}

{{- $pageTitle := .PageTitle -}}
{{- if not $pageTitle }}{{- $pageTitle = $siteTitle -}}{{- end -}}
{{- $pageDesc := $siteDesc -}}
{{- $pageImage := $defaultImage -}}
{{- $pageUrl := "" -}}

{{- if .FrontMatterMap -}}
{{- if .FrontMatterMap.description -}}
{{- $pageDesc = .FrontMatterMap.description -}}
{{- end -}}
{{- if .FrontMatterMap.ogimage -}}
{{- $pageImage = .FrontMatterMap.ogimage -}}
{{- end -}}
{{- end -}}

{{- if and $baseUrl .DestPageDir -}}
{{- $pageUrl = urlJoin $baseUrl .DestPageDir -}}
{{- end -}}

<!-- Primary Meta Tags -->
<meta name="title" content="{{ $pageTitle }}">
{{- if $pageDesc }}
<meta name="description" content="{{ $pageDesc }}">
{{- end }}

<!-- Open Graph / Facebook -->
{{- if $siteTitle }}
<meta property="og:site_name" content="{{ $siteTitle }}">
{{- end }}
<meta property="og:title" content="{{ $pageTitle }}">
<meta property="og:type" content="article">
{{- if $pageUrl }}
<meta property="og:url" content="{{ $pageUrl }}">
<link rel="canonical" href="{{ $pageUrl }}">
{{- end }}
{{- if $pageDesc }}
<meta property="og:description" content="{{ $pageDesc }}">
{{- end }}
{{- if $pageImage }}
<meta property="og:image" content="{{ if hasPrefix $pageImage "http" }}{{ $pageImage }}{{ else }}{{ urlJoin $baseUrl $pageImage }}{{ end }}">
{{- end }}

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
{{- if $pageUrl }}
<meta name="twitter:url" content="{{ $pageUrl }}">
{{- end }}
<meta name="twitter:title" content="{{ $pageTitle }}">
{{- if $pageDesc }}
<meta name="twitter:description" content="{{ $pageDesc }}">
{{- end }}
{{- if $pageImage }}
<meta name="twitter:image" content="{{ if hasPrefix $pageImage "http" }}{{ $pageImage }}{{ else }}{{ urlJoin $baseUrl $pageImage }}{{ end }}">
{{- end }}
{{- end -}}
